
<data-sly-use.TTT=com.adobe.aem.guides.demo.core.models.TTTModelimpl></div>


<div lass"title"><strong>Title: </strong>${properties.textarea}   <br></div>

<div class"des"><strong>Path:</strong>${properties.path}   <br></div>

<div class"text" ><strong>Multi:</strong>
    <data-sly-list="${TTT.field}">
<div class"des">&nbsp;&nbsp;&nbsp;<strong>Textield: </strong>${properties.text} </div> 
<div class"des">&nbsp;&nbsp;&nbsp;<strong>Date:</strong>${'dd-MM-yyyy' @format =properties.date}</div>
<div class"text" ><strong>Multi:</strong>
    <data-sly-list="${TTT.field}">
<div class"des">&nbsp;&nbsp;&nbsp;<strong>Name: </strong>${properties.text} </div> 

</div>
</div>
</div>
</div>

 ${properties.checkbox}



 