
<head data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">

<!--/* for css+js */-->
<meta data-sly-call="${clientLib.all @categories='clientlib-digital'}" data-sly-unwrap></meta>


<div class"des">${properties.des}   <br></div>
<div class"title"> ${properties.title}   <br></div>
<img src=${properties.image}>   <br>
<div >${'dd-MM-yyyy' @format =properties.date}</div>  <br>
 ${properties.number} <br>
 ${properties.checkbox}

<h2>JavaScript Alert</h2>

<button onclick="myFunction()">On click</button>
