<head data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">

    <!--/* for css+js */-->
    <meta data-sly-call="${clientLib.all @ categories='clientlib-article'}" data-sly-unwrap />

    
    
    <div class="description">${properties.description} <br> </div>
    
    <div class = "title">${properties.title} </div> <br> 	
    
    <img src=${properties.image}> <br>

    <div class=date>${'dd-mm-yyyy' @format=properties.date}</div> <br>

    ${properties.number}  <br>

   
    